bin/*
!bin/generate
.vscode
coverage/*
cover.out
*.test

#sonarqube
.scannerwork/

/build/

.glide/
vendor/
.*.swp
.idea/
.DS_Store

# Track changes to generated swagger file
docs/.swagger-changed
debug

